@model IEnumerable<HealthView.Models.Pacienti>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pacienti</title>
    <link rel="stylesheet" href="~/Content/Custom/pacientistyle.css">
</head>

<body>
    <div class="heart">&#x2665;</div>
    <div class="table-title">
        <h2>Pacienti</h2>
    </div>

    <input type="button" class="btn btn-default" style="background-color: #31A3D3" value="Inregistrare pacient" onclick="location.href = '@Url.Action("Register", "Account", new {doctorId = ViewBag.IDDoctor})'" />
    <
    @*<a onclick="location.href='@Url.Action("Register","Account")'" class="myButton"> Inregistrare pacienti</a>*@

    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">
                    @Html.DisplayNameFor(model => model.NumePacient)
                </th>
                <th class="text-left">
                    @Html.DisplayNameFor(model => model.PrenumePacient)
                </th>
                <th class="text-left">
                    @Html.DisplayNameFor(model => model.CNP)
                </th>
                <th class="text-left">
                    @Html.DisplayNameFor(model => model.Varsta)
                </th>
                <th class="text-left">
                    @Html.DisplayNameFor(model => model.Adresa)
                </th>
                <th class="text-left">
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th class="text-left">
                    @Html.DisplayNameFor(model => model.Ocupatie)
                </th>
                <th class="text-left">
                    Actiuni
                </th>

            </tr>
        </thead>
        <tbody class="table-hover"></tbody>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumePacient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrenumePacient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Varsta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ocupatie)
                </td>

                <td>
                    @Html.ActionLink("Edit", "UpdatePacient", "Pacienti", new { pacientId = item.Id , doctorId = item.IDDoctor, aspNetUserId = item.AspNetUserId}, null)|
                    @Html.ActionLink("Details", "ListareActivitatePacienti", "ActivitatePacienti", new { pacientId = item.Id }, null) |
                    @Html.ActionLink("Listare Recomandari", "ListareRecomandariPacienti", "Recomandari", new { pacientId = item.Id, doctorId = item.IDDoctor, aspNetUserId = item.AspNetUserId }, null) |
                    @Html.ActionLink("Creare Recomandare", "CreateRecomandare", "Recomandari", new { pacientId = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, null)

                </td>
            </tr>
        }

    </table>
</body>
</html>
